body {
    background-image: url("./topography.svg"), linear-gradient(110deg, #06be34, #6d47d9);
    background-size: 340px, auto;
    margin: 50px;
}

/* Código de Jose Zafrilla */
.div1, .div2, .div3, .div4, .div5, .div6, .div7 {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    float:left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom:10px;
}

.div1 a, .div2 a, .div3 a, .div4 a, .div5 a, .div6 a, .div7 a {
    text-decoration: none; 
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:15%;
    float:left;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 6 / 1 / 7 / 2; }
.div7 { grid-area: 7 / 1 / 8 / 2; }   

.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:85%;
    float:right;
}
    
.div1_1 { grid-area: 1 / 1 / 2 / 2; }
.div2_1 { grid-area: 1 / 2 / 2 / 3; }
.div3_1 { grid-area: 1 / 3 / 2 / 4; }
.div4_1 { grid-area: 2 / 1 / 3 / 2; }
.div5_1 { grid-area: 2 / 2 / 3 / 3; }
.div6_1 { grid-area: 2 / 3 / 3 / 4; }
.div7_1 { grid-area: 3 / 1 / 4 / 2; }

.div1_2 img,
.div2_2 img,
.div3_2 img,
.div4_2 img,
.div5_2 img,
.div6_2 img,
.div7_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* o 'contain' según tus preferencias */
}

.div1_2,
.div2_2,
.div3_2,
.div4_2,
.div5_2,
.div6_2,
.div7_2 {
    padding: 10px; /* Puedes ajustar el valor según tus preferencias */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

footer {
    clear: both;
}
