/* Estilo Extra - Para que salga el form centrado y no a la izquierda */
body {
    display: flex;
    justify-content: center;
}

/* Estilo Form */
form {
    padding: 10px auto;
    border: 2px 0px;
    border-color: #888;
    width: 710px;
    text-align: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../imgs/bg-form.png');
    background-repeat: no-repeat;
    background-position: bottom;
    /* estilo añadido */
    padding-top:10px;
    padding-bottom: 10px;
}

/* Estilo Lista */
ul {
    list-style: none;
    padding: 0px;
}

/* Estilo Elementos Lista */
li {
    margin-bottom: 15px;
}

/* Estilo Label */
label {
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'LeagueGothic';
}

/* Estilo Título Form */
form h1 {
    font-size: 2em;
    padding-bottom: 20px;
    background: 
        url('../imgs/bg-formtitle-left.png') left no-repeat,
        url('../imgs/bg-formtitle-right.png') right no-repeat;
    background-size: 100px auto;
    font-family: 'AcknowledgementMedium';
}

/* Estilo Botón Envío */
#registro-submit {
    border: none;
    background: radial-gradient(circle, rgb(144, 144, 144), rgb(72, 72, 72));
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    opacity: 80%;
    font-size: 2em;
    font-style: italic;
    padding: 15px 30px;
    border-radius: 15px;
    transition: linear 0.25s;
}

/* Hover Botón Envío - Cambio color */
#registro-submit:hover {
    opacity: 100%;
}

/* Imágenes de Requerido, Válido o Inválido */
input:required {
    background-image: url('../imgs/required.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px;
}

input:focus:valid {
    background-image: url('../imgs/valid.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px;
}

input:focus:invalid {
    background-image: url('../imgs/invalid.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px;
}

/* CSS Selección Texto */
::selection {
    background-color: #484848;
    color: #fff;
    text-shadow: none;
}


/* Fuentes Importadas */
@font-face {
    font-family: LeagueGothic;
    src: url(../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

@font-face {
    font-family: AcknowledgementMedium;
    src: url(../fonts/Acknowledgement.otf);
}

/* Estilo Extra - Que los campos salgan como en la imagen - Línea de puntos intermitente en vez de un rectángulo blanco */
input {
    border: none;
    border-bottom: 1px dotted #000; /* Borde, color y estilo del borde inferior */
    background: transparent; /* Esto hace que el fondo sea transparente para que los puntos sean visibles */
    outline: none; /* Elimina el contorno al hacer clic en el campo */
  }