body, html{
    margin:5px;
    border:0px;
    padding:0px;
    background-color:#ebebeb;
}

#header{
    
}

#content{
    margin-left:5%;
    margin-right:5%;
    width:60%;
    float:left;
}

#article{
    background-color:#d6d7d2;
    padding:2%;
}

#sidebar{
    margin-top:3%;
    width:30%;
    float:right;
}

#footer{
    text-align:center;
    font-size:25px;
}