body, html{
    margin:5px;
    border:0px;
    padding:0px;
    background-color:#ebebeb;
    height:100%;
}

.header{
    
}

.navbar{

}

.content{
    border: 1px solid #000;
}

.article-box{
    margin-left:5%;
    margin-right:35%;
    float:left;
    border: 1px solid #000;
}

.article{
    background-color:#d6d7d2;
    padding:2%;
    border: 1px solid #000;
}

.sidebar{
    margin-top:3%;
    margin-left:65%;
    float:right;
    border: 1px solid #000;
}

footer{
    text-align:center;
    font-size:25px;
}
