body, html{
    margin:5px;
    border:0px;
    padding:0px;
    background-color:#ebebeb;
    height:100%;
}

.header{
    
}

.navbar{

}

.content{
    width:100%;
    overflow:auto;
}

.article-box{
    margin-left:3%;
    width:70%;
    float:left;
}

.article{
    background-color:#d6d7d2;
    padding:2%;
}

.sidebar{
    margin-top:3%;
    margin-left:85%;
}

.footer{
    text-align:center;
    font-size:25px;
}
