/* Importando fuentes */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Luckiest+Guy&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding-top:20px;
    text-align:center;
    background-image: linear-gradient(#e54d24, white);
    min-height: 100vh;
}

#page {
    width: 1200px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

header {
    font-family: "Courier";
    color:white;
    font-size: 1.1em;
    border-bottom: 6px black solid;
    background-image: linear-gradient(#0078c3, #6baace);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 10px 10px 5px grey;
}

/* Aplicando fuentes importadas */

#nav ul li a, header h1 {
    font-family: 'Luckiest Guy', cursive;
}

#content p, #content h2{
    font-family: 'Abel', sans-serif;
}

h1 {
    /*background-image: url("../imgs/logo.png");*/ /* Se ha movido al index.html > html > body > #page > header > h1 > img*/
    position:relative;
    background-repeat: no-repeat;
    background-position: 25px;
    /* no lo admite: vertical-align:center;*/
    line-height: 1.5;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:100px;
    padding-right:100px;
}

/* Para posicionar la imagen dentro del header*/
h1 > img{
    position: absolute;
    left:30px;
}

#nav {
    font-family: "Courier";
    font-size: 1.4em;
    color: silver;
    text-align:center;
    /* background-image: url("../imgs/red015.jpg"); */
    background-image: linear-gradient(#d0b55a, #f2de3f);
    box-shadow: 10px 10px 5px grey;
}

/* Enlaces de la barra nav */

#nav li{
    padding-top:80px;
    margin-top:0px;
    margin-right:100px;
    margin-bottom:20px;
    margin-left:100px;
    list-style-type: none;
    display: inline-block;
    text-align:center;
    cursor: pointer;
}

/* Enlace Contenidos, Videos y Contacto */
#navli-content{
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    text-align: center;
    padding-top:10px;
}

#navli-videos{
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    text-align: center;
    padding-top:10px;
}

#navli-contact{
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    text-align: center;
    padding-top:10px;
}

#navli-content a, #navli-videos a, #navli-contact a{
    text-decoration:none;
    color: white; /* Color de fondo del elemento */
    text-shadow: 2px 2px #f06529; /* Distancia horizontal, distancia vertical, radio de difuminación y color */
}

#navli-content a:visited, #navli-videos a:visited, #navli-contact a:visited{
    color:rgb(255, 255, 255);
}

/* Hover sobre los enlaces */
#navli-content a:hover, #navli-videos a:hover, #navli-contact a:hover{
    color: white;
    text-shadow: 0px 0px 5px #ff7e42; /* Distancia horizontal, distancia vertical, radio de difuminación y color */
    transition: 0.5s; /* Transición */
}

#content {
    font-family:'Verdana';
    font-size: 0.8em;
    background-color:white;
    overflow:hidden;
    height:1%;
    box-shadow: 10px 10px 5px grey;
    display:flex;
    justify-content:center;

}

.article {
    width:240px;  
    border-bottom: 1px solid lightgray; 
    text-align:center;
    line-height:1.8em;
    padding: 5px 5px 22px 5px;
    margin:30px;
    float:left;
    border: 50px solid;
    border-width: 75px 30px 80px 30px;
    border-image: url(../imgs/movil.png);
    border-image-slice: 75 30 80 30;
    position:relative;/* Añadido para poder posicionar las imágenes chincheta */
    margin-top:30px;
}

.article_header{
    border-bottom: 1px;
    color:#999999;
}

/* Div chincheta donde está la imagen*/
.chincheta{
    position: absolute;
    width:35px;
    height: 49px;
    top: -91px;
    background-image: url(../imgs/chincheta.png);
}

/* Posición chincheta ajustada al ancho de la página */
.ch1{
    left: 211px;
}

.ch2{
    left: 123px;
}

.ch3{
    left: 30px;
}

/* Rotación del primer y tercer div de artículos*/
/* .art1{
    transform: rotate(-2deg);
}

.art3{
    transform: rotate(2deg);
} */

h2{
    padding: 10px;
    font-size: 1.2em;
}

#footer{
    clear:both;
    color:white;
    font-size: 0.7em;
    text-align:center;
    background-image: linear-gradient(#6baace, #0a79b8);
    border-top: 6px black solid;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 10px 10px 5px grey;
}

#footer a{
    color:white;
}

/* Menú desplegable */

#navli-videos:hover {
    position: relative;
}

#navli-videos:hover .dropdown-content {
    display: block;
    position: absolute;
    left: 0; /* Alinea la caja a la izquierda */
    transform: translateX(-25%) translateY(5%); /* Centra el menú horizontalmente */
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    background-color: #e34c26; /* Color todos los elementos */
}

/* Color de elementos impares */
.dropdown-content a:nth-child(odd) {
    background-color: #f06529;
}

/* Ratón por encima de elementos cambia el fondo de color */
.dropdown-content a:hover {
    background-color: #ff7e42;
}

/* Borde redondeado en el primer elemento */
.dropdown-content a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Borde redondeado en el último elemento */
.dropdown-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Triángulo en la parte superior - Técnica: CSS Triangles: https://css-tricks.com/snippets/css/css-triangle/*/
#navli-videos:hover .dropdown-content::before {
    content: "";
    position: absolute;
    top: -20px; /* Coloca el triángulo 10 píxeles por encima de la caja */
    left: 50%;
    margin-left: -10px; /* Centra el triángulo horizontalmente */
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f06529 transparent; /* Color del triángulo */
}

/* Animación logo en cabecera */
@keyframes animatedHeaderLogo {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

header > h1 > img {
    animation: animatedHeaderLogo 5s infinite;
}

/* Resto de animaciones */

.mueveChincheta1 {
    animation: mueveChincheta1 1s;
    animation-fill-mode: forwards;
    left: 0px;
    animation-delay: 1s;
}

.mueveChincheta2 {
    animation: mueveChincheta2 1s;
    animation-fill-mode: forwards;
    left: 0px;
    animation-delay: 2s;
}

.mueveChincheta3 {
    animation: mueveChincheta3 1s;
    animation-fill-mode: forwards;
    left: 0px;
    animation-delay: 3s;
}

.art1{
    animation: animArticle1 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.art3{
    animation: animArticle3 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

/* Chincheta 1  */
@keyframes mueveChincheta1 {
    0% {
      left: 0px;
    }
    100% {
      left: 211px;
    }
}

/* Chincheta 2  */
@keyframes mueveChincheta2 {
    0% {
      left: 0px;
    }
    100% {
      left: 123px;
    }
}

/* Chincheta 3  */
@keyframes mueveChincheta3 {
    0% {
      left: 0px;
    }
    100% {
      left: 30px;
    }
}

@keyframes animArticle1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-2deg);
    }
}

@keyframes animArticle3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(2deg);
    }
}