/* Estilo General */
body, html{
    margin:0px;
    border:0px;
    padding:0px;
    background-color:#ebebeb;
    height:100%;
}

/* Cabecera, tamaño e imagen */
.header {
    height: 200px;
    background-image: url("../img/espornets.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: #2e2b2d;
}

/* Transición sobre el texto de la cabecera */
.header h1{
    transition: transform 3s ease;
}

.header h1:hover {
    transform: scale(1.2);
}

/* Título de la cabecera - Se ha jugado con distintos text shadows para darle un borde negro y brillo naranja */
/* El texto juega con sombras para añadir brillo y bordes negros */
.header h1{
    margin-top:0px;
    font-size: 48px;
    text-align:center;
    color: white;
    text-shadow: 0px 0px 100px #ff7b2c,
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000; 
    padding-top:70px;
}

/* Barra Nav & Menú Desplegable */

.navbar{
    background-color:#7a6b64;
    padding-left:30px;
}

/* Estilo del botón Productos*/
.dropbtn {
    background-color: #7a6b64;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
/* Contenedor para posicionar los elementos desplegables del menú */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Menú Desplegable (escondido por defecto) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7a6b64;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Enlaces dentro del menú */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Cambio de color de los enlaces - Hover*/
.dropdown-content a:hover {
    background-color: #534a45
}
  
/* Muestra el menú desplegable - Hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo del botón Home */
.navbar .dropbtn, .navbar .home-btn {
    background-color: #7a6b64;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Cambio de color de los enlaces - Hover para Home */
.navbar .home-btn:hover, .navbar .dropdown-content a:hover {
    background-color: #534a45;
}

/* Cambia el color de fondo del Menú Inicial (Productos y Home) cuando se muestra el contenido desplegable */
.navbar .dropdown:hover .dropbtn, .navbar .home-btn:hover {
    background-color: #534a45;
}

/* Estilo del enlace Home */
.home-link {
    text-decoration: none; 
    color: white; 
}


/* Contenedor Central */
.content{
    width:100%;
    overflow:auto;
    height: 520px;
    background-color: #e7f1e1;
    background-image: url(../img/runner.jpg);
    background-position-y:-10px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:5%;
}

/* Contenedor de las diferentes secciones (Hombre/Mujer) */
.article-box {
    margin-left: 3%;
    width: 80%;
    float: left;
    overflow: hidden; 
}

/* Secciones individuales Hombre y Mujer */
.article {
    background-color: #5b5451;
    color:white;
    padding: 1%;
    width: 45%; 
    margin: 2%; 
    border-radius: 10px; /* Borde de las imágenes/secciones redondeado */
    display: inline-block; /* Cambia a inline-block para que estén en la misma línea */
    box-sizing: border-box; /* Evita que el ancho se vea afectado por el padding y el borde */
    transition: background-color 0.5s ease; /* Duración para las transiciones de color del hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Las cajas que contienen las secciones tienen una ligera sombra */
}

/* Efectos para cuando se hace hover sobre las secciones */
.article:hover {
    background-color: #817672;
    cursor: pointer;
    color:white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7)
}

/* Imágenes de las secciones */
.article img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

/* Estilo de los enlaces que rodean a las secciones hombre y mujer */
.article-link {
    text-decoration: none;
}

.article-link:visited {
    color: inherit;
}


/* Barra Lateral */
.sidebar {
    margin-top: 3%;
    margin-left: 85%;
    color: white;
}


/* Footer */
.footer{
    text-align:center;
    font-size:15px;
    background-color: #7a6b64;
    color:white;
    height:160px;
}

.footer p{
    margin-bottom: 0px;
    padding-bottom: 30px;
}

/* Separador HR */
hr {
    margin: 0px;
}

/* Quita la decoración de los anchor */
a {
    text-decoration: none;
}