body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#contenedor-principal {
    display: flex;
}

#seccion-izquierda {
    width: 75%;
    padding: 20px;
    background-color:white;
}

#controles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

#seccion-derecha {
    width: 25%;
    background-color: #f0f0f0;
    padding: 20px;
}

video {
    width: 100%;
    height: auto;
}

#videos-recomendados {
    
}

#imagen_logo{
    height: 5vw;
    padding: 1vw;
}

#barra-nav{
    text-align:center;
}