* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.enlace-menu {
    text-decoration: none;
}

.enlace-menu:hover {
    color: red;
}

ul {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    margin: 0px 80px 0px 80px; 
}

.submenu > li{
    position: absolute;
    z-index: 2;
    width:100px;
    text-align:center;
    left: 50%;
    margin-left: -50px;
    top: 25px;
    font-family:Verdana, sans-serif;
    font-size: 0.7em;
    color: #313131;
}

.submenu > li:nth-child(odd){
    color: #363636;
}

.submenu > li:hover{
    color:#444;
}

.opcion > ul {
    overflow: hidden;
    height: 0;
    transition: height 0.4s linear;
}

.opcion:hover > ul {
   overflow: visible;
   height: 10px;
}